body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}
h3{
    color: cadetblue;
}
.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 40px gray;
}

#full-stack-developer {
    border-left: 7px solid aqua;
    width: 320px;
    height: 180px;
}

#baby-web-developer {
    border-left: 7px solid indianred;
    width: 300px;
    height: 480px;
}
#boss-web-developer{
    border-left: 7px solid rgb(197, 82, 99);
    width: 300px;
    height: 480px;
}
#super-web-developer{
    border-left: 7px solid rgb(197, 82, 99);
    width: 300px;
    height: 480px;
    
}
footer {
    text-align: center;
}
.edu{
    padding-left: 80px;
    text-align: initial;
}
.update1{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 30px 20px;
  }
  .update1 h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .update1 p {
    font-size: 18px;
    opacity: 0.7;
  }
  .form {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    background-color: bisque;
    margin-top: 40px;
    padding: 50px 40px 50px 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .button-2 {
    height: 20px;
    width: 300px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
  }
  
  .button-1 {
    height: 40px;
    padding: 5px;
    font-size: 16px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(250, 11, 111);
    color: aliceblue;
    border: 1px solid whitesmoke;
    cursor: pointer;
  }
  .button-1:hover {
    background-color: rgb(255, 68, 0);
    font-size: 15px;
  }